<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlowerStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        #nav1, #foo1 {
            background-color: #ff7f50;
        }

        .bord1 {
            border-bottom: 3px solid #000;
        }

        .bord2 {
            border-top: 3px solid #000;
        }

        #footxt {
            color: #000;
        }

    </style>


   

</head>
<body>
    <header>
        <nav id="nav1" class="bord1 navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container">

                @if (ViewBag.Username != null)
                {
                    <a asp-controller="Sitehome" asp-action="Home"><img src="~/image/logoflowerstore.png" style="height: 70px; width: 120px;"></a>
                }
                else
                {
                    <a asp-controller="Login" asp-action="Login"><img src="~/image/logoflowerstore.png" style="height: 70px; width: 120px;"></a>
                }


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (ViewBag.Username == null)
                        {
                            <li class="nav-item">
                                <a style="color: black; margin-left: 40px;" class="nav-link" asp-area="" asp-controller="Register" asp-action="Register">Register</a>
                            </li>

                        }

                        @if (ViewBag.Username != null && ViewBag.Usertype == "User")
                        {
                            <li class="nav-item">
                                <a style="color: black; margin-left: 40px;" class="nav-link" asp-area="" asp-controller="Order" asp-action="ViewOrders">
                                    My Orders
                                </a>
                            </li>

                            <li class="nav-item">
                                <a style="color: black; margin-left: 40px;" class="nav-link" asp-area="" asp-controller="Cart" asp-action="CustomerCart">
                                    My Cart
                                </a>
                            </li>

                        }

                        @if (ViewBag.Username != null)
                        {

                            <a style="color: black; margin-left: 40px;" class="nav-link" asp-area="" asp-controller="ManageProf" asp-action="ManageProf">Manage Profile</a>


                            <a style="color: black; margin-left: 40px;" class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>


                        }

                        <li class="nav-item">
                            <a style="color: black; margin-left: 40px;" class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>





                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="foo1" class="bord2 footer text-muted">
        <div id="footxt" class="container">
            &copy; 2021 - FlowerStore - ASP.net MVC and API
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
