@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<style>
    body {
        background-image: url('../../image/bg-image.jpg');
        background-repeat: no-repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
    }
</style>

<br><br><br>

<p>This page belongs to the titans...</p>
<br>

<ul>
    <li>Manthan Sharma</li>
    <li>Achal Agarwal</li>
    <li>Sugandh Kumar</li>
    <li>Amit Agarwal</li>

</ul>
